.mssbc_browse_field_title {font-size:10pt;font-weigth:bold}
.mssbc_browse_field_list {width:96%;padding-left:3px;margin:0 0 0 0;padding:0;list-style:none;font-size:9pt}

/*
.mssbc_browse_field_list li a:hover b{text-decoration:underline}
.mssbc_browse_field_list li{padding:0 0 0 0}
*/